@attribute [Authorize(Roles = "zxvc")]


<div class="input-group">
    <input class="form-control" @bind-value="@Data" placeholder="write message to @RecipientName" />
    <button class="btn btn-primary" @onclick="@(async () => await SendMessageHandleWrapper())">
        send
    </button>
</div>

@code 
{
    [Parameter]
    public Func<Message, Task> SendMessageHandler { get; set; } = null!;

    [Parameter]
    public string RecipientName { get; set; } = string.Empty;

    public string SendWhen { get; set; } = DateTime.Now.ToShortTimeString();

    public string Data { get; set; } = string.Empty;

    public string Title = "~Message~";

    private async Task SendMessageHandleWrapper()
    {
        if (!string.IsNullOrWhiteSpace(Data))
        {
            await SendMessageHandler.Invoke(new Message(Title, Data, string.Empty, SendWhen, string.Empty));
            Data = string.Empty;
        }
    }
}
