@using SharpMessegner.Domain.UIModels;
@foreach (SearchedItemModel item in AvailableUsers)
{
    <div class="row justify-content-end">
        <div class="alert alert-success" style="max-width:45%" role="alert">
            <div class="row">
                <div class="col-9" style="word-break:break-word">
                    @item.UserData.UserName
                </div>
                <div class="col col align-self-end">
                    23:59
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="alert alert-secondary" style="max-width:45%" role="alert">
            <div class="row">
                <div class="col-9" style="word-break:break-word">
                    sadfasdfasdfasdffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                </div>
                <div class="col col align-self-end">
                    23:59
                </div>
            </div>
        </div>
    </div>
}

@code
{
    [Parameter]
    public List<SearchedItemModel> AvailableUsers { get; set; } = null!;
}
